.auth-page--teacher-register {
    background-image: url("../../assets/imagens/telacadastro.png");
}

.auth-page--teacher-register .auth-visual {
    background-image: url("../../assets/imagens/bg2.png");
}

.auth-page--teacher-register .auth-mascot-stage {
    right: -65px;
    bottom: 20px;
}
