.auth-page--teacher-login {
    background-image: url("../../assets/imagens/telacadastro.png");
}

.auth-page--teacher-login .auth-visual {
    background-image: url("../../assets/imagens/bg2.png");
}

.auth-page--teacher-login .auth-mascot-stage {
    right: -65px;
}
